header {
    background: black;
    height: 108px;
    font-size: 50pt;
    line-height: 100px;
    text-align: center;
    color: red;
    margin-bottom: 50px;
}
table {
    width: 600px;
    margin:auto
    border:solid 1px red
    
}

th { border:solid 1px red

}